/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;

}

#container {
    width: 1000px;
    background: #231557;
    background: -moz-linear-gradient(135deg, #231557 0%, #ff1361 50%, #fff800 100%);
    background: -webkit-linear-gradient(135deg, #231557 0%, #ff1361 50%, #fff800 100%);
    background: linear-gradient(135deg, #231557 0%, #ff1361 50%, #fff800 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: auto;
}

#menu {
    width: 1000px;
    height: 300px;
    background: #d4145a;
    background: #2e3192;
    background: #000000;
    background: #f13050;
    background: #00b7ff;
    background: #360940;
    background: -moz-linear-gradient(to right, #360940 0%, #f05f57 100%);
    background: -webkit-linear-gradient(to right, #360940 0%, #f05f57 100%);
    background: linear-gradient(to right, #360940 0%, #f05f57 100%);
    margin: 0 auto;
    display: flex;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    color: #f0ffff;
    padding: 40px;
}

#menu img {
    width: 250px;
    height: 250px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 100%;
}

#nome h1 {
    font-size: 50px;
    padding-left: 20px; 
    font-family: "Inter", sans-serif;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

#nome h2 {
    font-size: 20px;
    padding-left: 20px;
    font-family: "Inter", sans-serif;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

#contato h3 {
    padding-left: 50px;
    text-align: left;
    font-family: "Inter", sans-serif;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);

}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #f13050;
    text-decoration: underline rgb(255, 255, 255);
}

.sobre-mim {
    width: 900px;
    height: auto;
    background: #f3f0e9;
    background: #f1ebdd;
    background: -moz-linear-gradient(to right, #f1ebdd 0%, #daccd8 100%);
    background: -webkit-linear-gradient(to right, #f1ebdd 0%, #daccd8 100%);
    background: linear-gradient(to right, #f1ebdd 0%, #daccd8 100%);
    margin: 0 auto;
    padding-top: 20px;
    font-family: "Inter", sans-serif;
}

.sobre-mim h1 {
    padding-left: 10px;
    font-size: 50px;
    color: #9c0d31;
    text-shadow: 3px 3px 4px rgba(100, 100, 100, 0.5);
}

.sobre-mim p {
    font-size: 18px;
    margin: 10px;
    font-weight: 800;
}

hr {
    border: 1px solid rgb(238, 93, 149);
    width: 900px;
}

#experiencias {
    width: 900px;
    background-color: rgb(245, 245, 245);
    display: grid;
    font-family: "Inter", sans-serif;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background: #f3f0e9;
    background: #f1ebdd;
    background: -moz-linear-gradient(to right, #f1ebdd 0%, #daccd8 100%);
    background: -webkit-linear-gradient(to right, #f1ebdd 0%, #daccd8 100%);
    background: linear-gradient(to right, #f1ebdd 0%, #daccd8 100%);

}

#experiencias h1 {
    font-size: 28px;
    margin: 10px;
    color: #9c0d31;

}

#experiencias h2 {
    margin: 10px;
    color: #9c0d31;
}

#experiencias h3 {
    margin: 10px;
    color: #9c0d31;
    font-style: italic;
}

#experiencias h4 {
    padding-left: 14px;
}

#rodape {
    width: 900px;
    background-color: rgb(245, 245, 245);
    display: flex;
    grid-template-columns: auto auto;
    gap: 235px;
    margin: 0 auto;
    align-items: center;
    font-family: "Inter", sans-serif;
    padding-bottom: 30px;
    color: #9c0d31;
    font-weight: 700;
    ;
    background: #f3f0e9;
    background: #f1ebdd;
    background: -moz-linear-gradient(to right, #f1ebdd 0%, #daccd8 100%);
    background: -webkit-linear-gradient(to right, #f1ebdd 0%, #daccd8 100%);
    background: linear-gradient(to right, #f1ebdd 0%, #daccd8 100%);
}

#rodape h1 {
    margin: 15px;
}

